[gerrit]
        basePath = git
        canonicalWebUrl = <%= canonical_web_url %>
[database]
        type = <%= gerrit_database_type %>
        hostname = <%= gerrit_database_hostname %>
        database = <%= gerrit_database_database %>
        username = <%= gerrit_database_username %>
        password = <%= gerrit_database_password %>
[auth]
        type = <%= auth_type %>
        emailFormat = <%= email_format %>
[sendemail]
        smtpServer = localhost
[container]
        user = gerrit
        javaHome = /etc/alternatives/jre
[sshd]
        listenAddress = <%= sshd_listen_address %>
[httpd]
        listenUrl = <%= httpd_listen_url %>
[cache]
        directory = cache
<% if @proxy_server -%>
[http]
        proxy = http://<%= @proxy_server %>
<% end -%>
<% if @use_ldap -%>
[ldap]
        server = <%= @ldap_server %>

<% if @ldap_username -%>
        username = <%= @ldap_username %>
        password = <%= @ldap_password %>
<% end -%>
        accountBase = <%= @ldap_account_base %>
        accountPattern = <%= @ldap_account_pattern %>
        accountFullName = <%= @ldap_account_full_name %>
        accountEmailAddress = <%= @ldap_account_email_address %>

        groupBase = <%= @ldap_group_base %>
        groupPattern = <%= @ldap_group_pattern %>
        groupMemberPattern = <%= @ldap_group_member_pattern %>
<% end -%>
